/* 
    Document   : CssRegiater
    Created on : Dec 17, 2014, 2:46:22 PM
    Author     : linttd
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.khungRe {
    margin: auto;
    width: 400px;
    background: #fff;
    clear: both;
    margin-top: 200px;
}
.khungLogin {
    margin: auto;
    width: 400px;
    background: #fff;
    clear: both;
    margin-top: 200px;
}
.khungLoginAdmin {
    margin: auto;
    width: 400px;
    background: #fff;
    clear: both;
    margin-top: 200px;
}
body{
    font-family:  Arial, Helvetica, sans-serif;
    background-attachment:fixed;
/*    background-image:url('images/background.png');*/
    background-color: #444444;
    background-repeat: no-repeat;
}
#form1{

    position:absolute;
    width: 350px;
    background-color:white;
    height:270px;
    border-radius: 5px;
    margin-top:5px;
    margin-left:3px;
    border-radius:7px;
    border: red;
    box-shadow:0px 1px 10px 5px #ccc;
}
input {
/*    border-radius: 5px;*/
/*    box-shadow:0px 1px 10px 5px #ccc;*/
/*    width: 50px;
    height:20px;*/
    margin-bottom: 10px;
}
#form2{
    position:absolute;
    width: 290px;
    background-color:white; 
    height:270px;
    border-radius: 5px;
    margin-top: 5px;
    border-radius:5px;
    border: red;
    margin-left:370px;

    box-shadow:0px 1px 10px 5px #ccc;
}
.btn{
    background-color: #21759B;
    background-image: linear-gradient( bottom, #2A95C5, #21759B);
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
    border-color: #21759B #21759B #1E6A8D #21759B;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    padding: 4px 15px 7px 15px;
    margin: 2px 4px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
}
.sub-title {
    width: 85%;
    margin: auto;
    background: #25A83A;
    line-height: 37px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
}

td {
    text-align: center;
}

